{{#if isEditing}}
{{input type="text" class="edit" value=model.name focus-out="acceptChanges"
        insert-newline="acceptChanges"}}
{{else}}
<h1><label {{action "edit_app" on="doubleClick"}}>{{model.name}}</label></h1>
{{/if}}